<h1>Listing Gists</h1>
<%= link_to new_gist_path, class: 'btn btn-success' do %><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Gist<% end %>
<hr>

<% @gists.each do |gist| %>
  <%= render 'gist', gist: gist %>
<% end %>

<script>
$( document ).ready(function() {
    L.mapbox.accessToken = 'pk.eyJ1IjoibGV2ZW50aGFuIiwiYSI6IjNYYi1uMnMifQ.uQvHEvixml-zaHJZhb_WNQ';
    $.each(gon.gists, function(index, gist){
      renderMap(gist);
    });

    function renderMap(gist){
      var mapOptions = {
          attributionControl: {compact: true}
      }
      var mapId = 'map-' + gist.hex;
      var map = L.mapbox.map(mapId, 'mapbox.streets', mapOptions)
          .setView([40, -74.50], 2);

      var geojson = gist.content;
      var featureLayer =  L.mapbox.featureLayer()
          .setGeoJSON(geojson)
          .addTo(map);
      map.fitBounds(featureLayer.getBounds());
    }
});
</script>