<footer>
  <hr>
    <p class="text-center">Created by <a href="http://github.com/Leventhan">Leventhan</a>.<strong> GeoGist is <a href="http://github.com/Leventhan/geogist">Open Source!</a></p></strong>
  <br/>
  <br/>
  <br/>
</footer>